<nav class="usa-breadcrumb margin-top-05" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}/" class="usa-breadcrumb__link">
          <span>Home</span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a href="{{ site.baseurl }}/{{ page.category | slugify}}.html" class="usa-breadcrumb__link">
          <span>{{ page.category }}</span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>{{ page.title }}</span>
      </li>
    </ol>
  </nav>