<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo margin-top-2" id="basic-logo">
        <em class="usa-logo__text"><a href="{{ site.baseurl }}" title="Home" aria-label="Home"><img src="{{ site.baseurl }}/assets/img/Logo_USAGov.png" alt="logo" class="maxh-9"></a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/img/usa-icons/close.svg" role="img" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="basic-nav-section-one"><span>Categories</span></button>
          <ul id="basic-nav-section-one" class="usa-nav__submenu">
            {% for item in site.data.categories %}
            <li class="usa-nav__submenu-item">
              <a href="{{ site.baseurl }}{{ item.url }}" class="">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>About</span></a>
        </li>
      </ul>
      <form class="usa-search usa-search--small " role="search">
        <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
        <input class="usa-input" id="basic-search-field-small" type="search" name="search">
        <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
      </form>
    </nav>
  </div>
</header>