<div class="usa-summary-box  bg-white border-base-light" role="complementary">
    <div class="usa-summary-box__body">
      <h3 class="usa-summary-box__heading">Product Details</h3>
      <div class="usa-summary-box__text">
        <ul class="usa-list">
          <li>
            <a class="usa-summary-box__link" href="#market-insights">Market Insights</a>
          </li>
          <li>
            <a class="usa-summary-box__link" href="#volumetrics">Volumetrics</a>
          </li>
          <li>
            <a class="usa-summary-box__link" href="#logistics">Logistics</a>
          </li>
          <li>
            <a class="usa-summary-box__link" href="#planning-and-warehousing">Planning and Warehousing</a>
          </li>
          <li>
            <a class="usa-summary-box__link" href="#other-products">Other Products in Category</a>
          </li>
        </ul>
      </div>
    </div>
  </div>