<!doctype html>

{% include head.html %}

<body>
  {% include navigation.html %}
  
  <main>
    <div class="grid-container">

    {% include breadcrumbs.html %}

    <h1 class="margin-top-0">{{ page.title }}</h1>

    <p>
        {% assign tags = page.tags %}
        {% for item in tags %}
        <span class="usa-tag bg-accent-warm-light text-base-darker display-inline-block">{{ item }}</span> 
        {% endfor %}
    </p>

    <div class="grid-container padding-x-0">
        <div class="grid-row">
          <div class="tablet:grid-col tablet:padding-right-1">
            <img src="{{ page.feature-image }}" alt="{{ page.feature-image-description }}">
            <button class="usa-button usa-button--unstyled margin-y-2">View more images</button>
          </div>
          <div class="tablet:grid-col tablet:padding-left-1">
            <div class="usa-alert usa-alert--info usa-alert--slim margin-bottom-2" >
                <div class="usa-alert__body">
                  <p class="usa-alert__text">To see pricing, <a href="#">log in</a> or <a href="#">create an account</a>.</p>
                </div>
            </div>
            {% include summary-box.html %}
          </div>
        </div>
      </div>

    <section class="maxw-tablet">
        {{ content }}
    </section>
    
  </div>
  </main>
  
  {% include foot.html %}